 
# Compilados
*.class
*.jar
*.war
*.ear
README.md
target/
build/
out/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store

# Datos locales 
*.json
data/

# Logs
*.log

# Sistema
Thumbs.db
/nbproject/
